node_modules
dist
.git
.github
.vscode
*.log
npm-debug.log*
.env
.env.local
.DS_Store
coverage
.turbo
.next
*.swp
*.swo
*~
build
packages/*/node_modules
packages/*/dist
packages/server/prisma/migrations
PM2_README.md
README.md
*.md
